@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.produit {
  animation-name: fadeInUp;
  animation-duration: 1s;
  text-align: center;
  color: black;
}

.produit p {
  color: black;
}

.text {
  color: black;
}
