.imageContainer {
  display: flex;
  justify-content: left;
  align-items: center;

}

.buttonContainer {
  z-index: 1;
  position:absolute;
  margin-left: 10%;
  color: black;
  width: 100%;
}

.imagePosition {
  z-index: 0;
  width: 100%;
  
}
.pageContainer{
   display: flex;
   flex-direction: column;
align-items: center;
}

.BottomPageContainer{
    max-width: 80rem;
}

.titleContainer {
  color: black;
  margin: 2rem;
}

.ArticleContainer {
  color: black;
  margin: 2rem;
  text-align: justify;
  line-height: 200%;
  font-size: 120%;

}
.bottomButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.bottomButton{
background-color: #e32847;
font-weight: bold;
margin: 0 2rem 2rem 2rem;
}

.articleImage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
}

.articleImagePosition{
    width: 100%;
    max-width: 45rem;
    margin: 2rem 0 2rem 0;
}
