.globalCard {
  height: 70%;
}

.CardContainer {
  display: flex;
  flex-direction: column;
  margin: 0 2rem 0 2rem;
  -webkit-box-shadow: 0px 0px 18px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 18px -2px rgba(0, 0, 0, 0.5);
  padding: 1%;
  width: clamp(400px, 30vw, 800px);
}
.imageContainer {
  padding: 1rem;
  margin-right: 1rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addCard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #e32847;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0%;
}

.CardInformation {
  background-color: #ffffff;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #e32847 solid 1px;
  /*height: 22vh;*/
  width: 100%;
  padding: 1rem 0;
}

.descirptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1rem;
  margin: 0 2rem 0 2rem;
}

.title {
  font-weight: bold;
  margin-bottom: 2%;
  text-align: center;
}

.utilisation {
  margin-bottom: 2%;
}
