@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.BeautAI__button{
  background-color: #e32847;
}
#BeautAI {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  color: black;
  top:0%;
  position: absolute;
}

::-webkit-scrollbar {
  display: none;
}

nav {
  height: 10vh;
  width: 100vw;
  display: flex;

  justify-content: center;
  align-items: center;
  background-color: rgb(255, 245, 226);
}

#BeautAI__section {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  width: 80vw;
  position: relative;
  left: 50vw;
  transform: translateX(-50%);
  height: 100%;
  padding-bottom: 5rem;
}
.BeautAI__section__questionLeft__Container{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.BeautAI__section__questionLeft {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 20vh;
  padding: 2%;
  right: 0%;
  animation-name: fadeInUp;
  animation-duration: 0.7s;
  gap: 0.5rem;
}
.BeautAI__section__questionRight__Container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.BeautAI__section__questionRight {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 20vh;
  padding: 2%;
  right: 0%;
  animation-name: fadeInUp;
  animation-duration: 0.7s;
  gap: 0.5rem;
}

.BeautAI__response{
  display: flex;
  justify-content: center;
  padding: 2rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
}

button {
  margin: 2%;
}
.BeautAI__footer{
  position: absolute;
  width: 100%;
  bottom: 0;
}
footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 245, 226);
  width: 100%;
  bottom: 0;
}


#pale {
  background-color: #fffaf7;
}

#claire {
  background-color: #fae3d5;
}

#mate {
  background-color: #9a6359;
}

#foncee {
  background-color: #612a2e;
  color: white;
}

#noire {
  background-color: hsl(356, 40%, 10%);
  color: white;
}

.slider {
  margin-top: 5vh;
}

@media screen and (width > 768px) {
  .BeautAI__section__questionLeft {
    width: 40%;
  }
  .BeautAI__section__questionRight {
    width: 40%;
  }
}
