@font-face {
  font-family: "CamptonBook";
  src: url("./assets/fonts/CamptonBook.otf") format(‘otf’);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: CamptonBook;
}

img {
  width: 100vw;
}
